.nav-position {
  display: flex;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: flex;
}
.navigation-list {
  display: flex;
  /* margin-left: 93px; */
  padding: 0px;
  padding-left: 93px;
  padding-top: 32px;
  /* margin-top: 32px; */
  margin: 0px;
}
.navigation-item {
  position: relative;
  padding-bottom: 32px;
}
.navigation-item-middle {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 32px;
}
.navigation-link {
  color: var(--mostly-used-color);
  transition: color 250ms var(--time-cubic);

  &:hover,
  &:focus {
    color: var(--navigation-link-focus);
  }
}
.blue-studio {
  color: var(--navigation-link-focus);
}

.mail-tel-nav {
  padding: 0px;
  margin-left: 305px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  transition: color 250ms var(--time-cubic);
}
.mail-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.141;
  letter-spacing: 0.02em;
  color: var(--links-header);
  fill: var(--links-header);
  transition: color 250ms var(--time-cubic);

  &:hover,
  &:focus {
    color: var(--navigation-link-focus);
    fill: var(--navigation-link-focus);
  }
}
.phone-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--links-header);
  margin-left: 30px;
  fill: var(--links-header);
  transition: color 250ms var(--time-cubic);

  & {
    display: flex;
    align-items: center;
  }

  &:hover,
  &:focus {
    color: var(--navigation-link-focus);
    fill: var(--navigation-link-focus);
  }
}

.header {
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}
.item-svg-mail-tel {
  margin-right: 10px;
  transition: fill 250ms var(--time-cubic);
}
.mail-link-header {
  display: flex;
  align-items: center;
}
.current {
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--navigation-link-focus);
    border-radius: 2px;
  }
}
