html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mostly-used-color);
  background: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
